@model Chapeau.Models.Order;

@{
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>High VAT?</th>
        </tr>
    </thead>
    <tbody>
            @{
            foreach (OrderItem orderItem in Model.OrderItems)
            {
                <tr>
                    <td>@orderItem.MenuItem.Name</td>
                    <td>@orderItem.MenuItem.Price</td>
                    <td>@orderItem.Count</td>
                    <td>@orderItem.MenuItem.Price</td>
                    <td>@orderItem.MenuItem.IsAlcoholic</td>
                </tr>
            }

        }
    </tbody>
</table>
<hr />
<div class="d-flex flex-row justify-content-between m-4">
    <h2>Total:</h2>
    <h2>€ 69,42</h2>
</div>
<hr />
</div>