@model Chapeau.ViewModels.MenuItemsAndOrder;

@{
    ViewData["Title"] = "Menu";
}

<div class="Menu">

    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index" asp-route-orderId="@Model.OrderId">Back</a>
    </div>

    <partial name="_ErrorMessage" />
    <partial name="_ConfirmMessage" />

    <div>

        @{
            foreach (MenuItem menuItem in Model.MenuItems)
            {
                string stockStyling = "";

                if (menuItem.Stock == 0)
                {
                    stockStyling = "bg-secondary";
                }
                else if (menuItem.Stock > 0 && menuItem.Stock <= 10)
                {
                    stockStyling = "bg-warning";
                }
                <form action="/Menu/Course" method="post">
                    <input type="hidden" name="orderId" value="@Model.OrderId" />

                    <input type="hidden" name="Name" value="@menuItem.Name" />
                    <input type="hidden" name="Price" value="@menuItem.Price" />
                    <input type="hidden" name="MenuCard" value="@menuItem.MenuCard" />
                    <input type="hidden" name="CourseCategory" value="@menuItem.CourseCategory" />
                    <input type="hidden" name="Stock" value="@menuItem.Stock" />
                    <input type="hidden" name="IsAlcoholic" value="@menuItem.IsAlcoholic" />

                    <div class="MenuCourseCategory @stockStyling">
                        <button type="submit" class="btn btn-primary shadow-button">
                            <i class="fas fa-plus-circle me-2"></i> @menuItem.Name
                            <p> &euro; @menuItem.Price </p>
                        </button>
                    </div>
                </form>
            }
        }

    </div>

</div>
