@model Chapeau.Models.Order;

@{
    ViewData["Title"] = $"Table {@Model.Table.TableNr} order overview";
}

<div class="d-flex justify-content-between mb-2">
    <div>
        <p class="h2">Table @Model.Table.TableNr</p>
    </div>
    <div class="text-end">
        <p>@Model.Time_ordered.ToString("HH:mm")</p>
        <p>Waiter: @Model.Employee.FirstName</p>
    </div>
</div>

@foreach (var group in Model.OrderItems.GroupBy(i => i.MenuItem.CourseCategory))
{
    <div class="mb-2">
        <div class="d-flex justify-content-between border-bottom">
            <strong>@group.Key</strong>
            <span class="check-icon">✔</span>
        </div>
        <ul class="list-unstyled ms-2 mt-1">
            @foreach (var item in group)
            {
                <li>@item.Count @item.MenuItem.Name</li>
            }
        </ul>
    </div>
}

<div class="mt-auto d-flex justify-content-between align-items-center pt-2 border-top">
    <div class="text-muted small">
        <p>@Model.OrderId</p>
    </div>
    <div class="text-end">
        <p>@Model.MinutesSinceOrdered min</p>
    </div>
</div>

<a class="table-link" asp-controller="Menu" asp-action="Card" asp-route-tableNr="@Model.Table.TableNr">Add another item to order </a>

<a class="btn btn-primary btn-sm" asp-controller="Payment" asp-action="Index" asp-route-orderId="@Model.OrderId">
    <i class="bi bi-credit-card"></i> To payment
</a>